<h1>routes</h1>

<% @lanes.each do |lane, routes| %>
<div class="lane">
  <h2>lane <%= lane %> </h2>
  <ol>
    <% routes.each do |route| %>
    <li class="<%= route.color %>"><%= link_to route.grade, gym_route_path(@gym, route) %></li>
    <% end %>
  </ol>
</div>
<% end %>

<%= link_to 'Add new route', new_gym_route_path(@gym) %>
